@font-face{
    src: url(/fontes\ desktop/Marianne-Regular.otf);
    src: url(/fontes\ desktop/Marianne-Bold.otf);
    font-family: Marianne;

}

body{
    font-family: Marianne;
    min-width: 400px;
    width: 400px;
}

main{
  margin-left : 2rem;  
  margin-right: 2rem;
  margin-top: 0.8rem;
}

/* button{
    background-color:#000091;
    color: #F5F5FE;
    font-size: 1rem;
    padding: .5rem 1rem;
    border: none;
    margin: 0.5rem;

} */

/* button:hover {
    background-color:#1212ff;
    color: #F5F5FE;
    font-size: 1rem;
    padding: .5rem 1rem;
    border: none;
    margin: 0.5rem;

} */

/* ul{
    display: grid;
    justify-content: center;
    margin: 1rem;
    list-style: none;
        li{
            list-style: none;
        }
} */

.close-svg{
    color: blue;
}

h1{
    font-size: 1.5rem !important;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button{
    width: fit-content;
}

