@font-face{
    src: url(/fontes\ desktop/Marianne-Regular.otf);
    src: url(/fontes\ desktop/Marianne-Bold.otf);
    font-family: Marianne;

}

body{
    font-family: Marianne;
    min-width: 400px;
    width: 400px;
    height: fit-content;
    font-size: 1rem;
    /* background-color: pink; */
}

main{
  margin-top: 0.8rem;
  height: fit-content;
  /* background-color: pink; */  
}

.divItem{
    /* background-color: red; */
    width: 100%;
}

.item{
    display: flex;
    align-items: center;
    flex-direction: row;
    /* background-color: pink; */
    gap: 1rem;
}

#delete{
    margin-left: 0rem;
}

#add{
    margin-left: 0rem;
}

.flex {
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
    /* background-color: blue; */

    li{
        list-style: none;
        width: 3rem;
        display: flex;
        height: 1rem;

        button {
            margin-left: 0rem;
        }
    }
} 

.close-svg{
    color: blue;
}

h1{
    font-size: 1.5rem !important;
}


.marginBottom{
    margin-bottom: 0rem !important;
}

.marginTop{
    margin-top: 0rem !important;
}

.paddingTop{
    padding-top: 0rem !important;
}

.paddingBottom{
    padding-bottom: 0rem !important;
}



datalist {
  z-index: 9999;
  position: relative;
}